@{
    ViewBag.Title = "About";
}
<header class='masthead'>
    <style>

        .questions-section > .h9 {
            font-family: "Gentium Book Basic", Georgia, serif;
            font-size: 1.2em;
            font-weight: bold;
            /* Layout */
            margin: 2em 0 1em 0;
        }

        section > h1 {
            margin-top: 2em;
        }

        .h10 {
            color: black;
        }

        .content-footer,
        .masthead-heading,
        .masthead-intro {
            text-align: center;
        }

        .masthead {
            padding: 6em 0;
            background-image: url(https://www.zichron.org/wp-content/uploads/2017/06/headerAbout.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .masthead-intro {
            margin-bottom: 0.1em;
            font-family: 'Dancing Script', cursive;
            font-size: 2em;
        }

        .masthead-heading {
            margin-top: -0.2em;
            font-family: "Open Sans", "Helvetica Neue", sans-serif;
            font-weight: bold;
            font-size: 2em;
            letter-spacing: -0.02em;
            text-transform: uppercase;
        }

        .introduction
        .location
        .content-footer {
            font-weight: 300;
            letter-spacing: 0.05em;
        }

        .h9 {
            font-family: "Gentium Book Basic", Georgia, serif;
            font-size: 1.2em;
            font-weight: bold;
        }

        .introduction-section,
        .location-section,
        .questions-section {
            max-width: 38em;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2em;
        }
    </style>
    <div class="s123">
        <p class='masthead-intro' style="color:black;">HELLO</p>
        <h4 class='masthead-heading'>This is an introduction about us!</h4>
    </div>
        <link rel="stylesheet" href="test2.css">
</header>
<div class="s123">
<section class="introduction-section">
    <h1>Introduction</h1>
    <p>We are Softwate Enigeers and soon to be web developer.</p>
    <p>We love the internet,Coding ,Gaming , technology, Helping Others , and building beautiful things.</p>
</section>
<section class="location-section">
    <h1>Where We Are From</h1>
    <p>Nof Hagalil And Naora </p>
</section>
<section class="questions-section">
    <h1>More About Us</h1>
    <h1>What are your favorite hobbies?</h1>
    <p>Our favorite hobby is building things on the internet like Helping cancer patients people and Building websites to help them.</p>
    <h1>What Is Our passion?</h1>
    <p>We provides support for any young person in Israel living with cancer, as well as their parents and siblings.</p>
    <h1>What Is Our inspiration?</h1>
    <p>We Would like ot inspire younger generations or all generations to help Poeple with cancer and to build something like this site.</p>
    <h1>Why do you want to be a web developer?</h1>
    <p>Because programming is awesome and programming for the internet is even more awesome.</p>
</section>
</div>


